/* Estilos gerais para o corpo da página */
body {
    background-color: #f5f5f5; /* Define a cor de fundo do corpo da página */
}

/* Estilos para o container principal da página */
.container {
    width: 100%; /* Define a largura máxima do container como 100% da largura disponível */
    max-width: 400px; /* Define a largura máxima do container como 400px */
    margin: 0 auto; /* Centraliza o container horizontalmente na página */
    background-color: #fff; /* Define a cor de fundo do container como branco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave ao redor do container */
    padding: 20px; /* Adiciona preenchimento interno de 20px dentro do container */
    box-sizing: border-box; /* Define o modelo de caixa para incluir o padding no cálculo da largura total */
}

/* Estilos para o cabeçalho */
.header {
    display: flex; /* Define o display flexível para alinhar itens internos */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding-bottom: 10px; /* Adiciona preenchimento inferior de 10px no cabeçalho */
    border-bottom: 1px solid #eee; /* Adiciona uma borda inferior sólida de 1px com cor #eee */
}

/* Estilos para o logotipo ou título principal no cabeçalho */
.header h1 {
    font-size: 18px; /* Define o tamanho da fonte como 18 pixels */
    margin: 0; /* Remove as margens padrão */
}

/* Estilos para o conteúdo principal da página */
.content {
    margin: 20px 0; /* Adiciona margem de 20px acima e abaixo do conteúdo */
}

/* Estilos para o título secundário do conteúdo */
.content h2 {
    font-size: 16px; /* Define o tamanho da fonte como 16 pixels */
    margin: 0 0 10px 0; /* Define as margens superior e inferior como 0, e margens esquerda e direita como 10px */
}

/* Estilos para o contêiner de sintomas */
.symptoms-container {
    margin-bottom: 10px; /* Adiciona margem inferior de 10px ao contêiner de sintomas */
}

/* Estilos para cada sintoma dentro do contêiner de sintomas */
.symptom {
    display: inline-block; /* Define como bloco em linha para manter os sintomas em linha */
    background-color: #e0e0e0; /* Define a cor de fundo dos sintomas como cinza claro */
    padding: 5px 10px; /* Adiciona preenchimento interno de 5px no topo e base, 10px nos lados */
    border-radius: 20px; /* Adiciona bordas arredondadas com raio de 20px */
    margin: 5px 0; /* Adiciona margem de 5px acima e abaixo de cada sintoma */
    white-space: nowrap; /* Impede que os sintomas quebrem em várias linhas */
}

/* Estilos para o elemento que exibe o animal selecionado */
.selected-animal {
    margin: 10px 0; /* Adiciona margem de 10px acima e abaixo do elemento */
    padding: 10px; /* Adiciona preenchimento interno de 10px dentro do elemento */
    background-color: #e0e0e0; /* Define a cor de fundo como cinza claro */
    border-radius: 5px; /* Adiciona bordas arredondadas com raio de 5px */
}

/* Estilos para botões na página */
.button {
    display: block; /* Define como bloco para ocupar toda a largura disponível */
    width: 94%; /* Define a largura como 100% */
    padding: 10px; /* Adiciona preenchimento interno de 10px dentro do botão */
    background-color: #4caf50; /* Define a cor de fundo como verde */
    color: #fff; /* Define a cor do texto como branco */
    text-align: center; /* Centraliza o texto dentro do botão */
    text-decoration: none; /* Remove a decoração de texto padrão */
    border-radius: 5px; /* Adiciona bordas arredondadas com raio de 5px */
}

/* Estilos para o rodapé */
.footer {
    font-size: 12px; /* Define o tamanho da fonte como 12 pixels */
    color: #aaa; /* Define a cor do texto como cinza claro */
    text-align: center; /* Centraliza o texto no rodapé */
    margin-top: 20px; /* Adiciona margem superior de 20px */
}

/* Estilos para o botão de voltar */
.back-button {
    background: linear-gradient(110deg, #3AA5E9, #3D62CF); /* Define um fundo gradient com cores específicas */
    color: #000; /* Define a cor do texto como preto */
    margin-bottom: 10px; /* Adiciona margem inferior de 10px no botão de voltar */
}

/* Estilos para o elemento que exibe o diagnóstico */
.diagnosis {
    margin: 20px 0; /* Adiciona margem de 20px acima e abaixo do diagnóstico */
    padding: 10px; /* Adiciona preenchimento interno de 10px dentro do diagnóstico */
    background-color: #dff0d8; /* Define a cor de fundo como verde claro */
    border: 1px solid #d6e9c6; /* Adiciona uma borda sólida de 1px com cor específica */
    border-radius: 5px; /* Adiciona bordas arredondadas com raio de 5px */
}
