/* Estilos CSS podem ser inseridos aqui ou em um arquivo externo */
body {
    background: #242C3B;
}

nav {
    display: flex;
    justify-content: space-between;

    background: linear-gradient(110deg, #3AA5E9, #3D62CF);
    color: #fff;
    padding: 10px;
    height: 50px;

    
}

#sosrs {
    margin-top: 8px;
    font-size: 26px;
}

footer {
    background: linear-gradient(110deg, #3AA5E9, #3D62CF);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.main {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    height: 400px;
}

.botoes {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 320px;

    height: 40px;

}

.btn-voltar {
    color: #000;
    text-decoration: none;
}

.btn-proximo {
    text-align:center;
    padding: 7.5px;
    
    color: #000;
    text-decoration: none;
    width: 100px;
    border-radius: 5px;
    background: linear-gradient(110deg, #3AA5E9, #3D62CF);
}

#img_voltar {
    margin: 8px 7px -7px 0px;
    display: inline-block;
}

#hr {
    width: 100%;
    position: relative;
    top: 300px;
    
}